:root {
  --m-error-color: brown;
  --m-grey-color: rgb(87, 87, 87);
  --m-dark-grey-color: rgb(68, 68, 68);
  --m-border-radius: 5px;
  --m-border: 2px solid black;
  --m-primary-color: darkgreen;
  --m-secondary-color: rgb(170, 251, 170);
  --m-disabled-color: lightgrey;

  --m-small-fs: 0.8rem;
  --m-medium-fs: 1rem;
  --m-large-fs: 1.5rem;
  --m-very-large-fs: 3rem;

  --m-font-family: sans-serif;
  --m-glass-bg: rgba(255, 255, 255, 0.9);
}

.m-ff {
  font-family: var(--m-font-family);
}

.m-error-color {
  color: var(--m-error-color);
  animation: m-error-fade-in 0.5s;
}
@keyframes m-error-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.m-grey-color {
  color: var(--m-grey-color);
}

.m-primary-color {
  color: var(--m-primary-color);
}

.m-secondary-color {
  color: var(--m-secondary-color);
}

.m-dark-grey-color {
  color: var(--m-dark-grey-color);
}

.m-small-fs {
  font-size: var(--m-small-fs);
}

.m-medium-fs {
  font-size: var(--m-medium-fs);
}

.m-large-fs {
  font-size: var(--m-large-fs);
}

.m-very-large-fs {
  font-size: var(--m-very-large-fs);
}

.m-primary-button {
  background-color: var(--m-primary-color);
  border: var(--m-border);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: var(--m-border-radius);
}

.m-primary-button:hover {
  cursor: pointer;
}

.m-secondary-button {
  background-color: var(--m-secondary-color);
  border: var(--m-border);
  padding: 0.5rem 1.5rem;
  border-radius: var(--m-border-radius);
}

.m-disabled-button {
  pointer-events: none;
  background-color: var(--m-disabled-color);
  border: none;
}


/* for testing  */
.m-bg-red{
  background-color: red;
}
.m-bg-blue{
  background-color: blue;
}