:host,
:root {
  all: initial; /*took blood, sweat, and tears*/
  --error-color: brown;
  --grey-color: rgb(87, 87, 87);
  --dark-grey-color: rgb(68, 68, 68);
  --border-radius: 5px;
  --border: 2px solid black;
  --primary-color: darkgreen;
  --secondary-color: rgb(170, 251, 170);
  --disabled-color: lightgrey;

  --very-small-fs: 0.6rem;
  --small-fs: 0.8rem;
  --medium-fs: 1rem;
  --large-fs: 1.5rem;
  --very-large-fs: 3rem;

  --font-family: sans-serif;
  --glass-bg: rgba(255, 255, 255, 0.9);
  font-size: var(--medium-fs);
}
:host *,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.ff {
  font-family: var(--font-family);
}

.error-color {
  color: var(--error-color);
  animation: error-fade-in 0.5s;
}
@keyframes error-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.grey-color {
  color: var(--grey-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.dark-grey-color {
  color: var(--dark-grey-color);
}

.black-color {
  color: black;
}

.small-fs {
  font-size: var(--small-fs);
}

.medium-fs {
  font-size: var(--medium-fs);
}

.large-fs {
  font-size: var(--large-fs);
}

.very-large-fs {
  font-size: var(--very-large-fs);
}

.primary-button {
  background-color: var(--primary-color);
  border: var(--border);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
}

.primary-button:hover {
  cursor: pointer;
}

.secondary-button {
  background-color: var(--secondary-color);
  border: var(--border);
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
}

.disabled-button {
  pointer-events: none;
  background-color: var(--disabled-color);
  border: none;
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}

/* for testing  */
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.red-color {
  color: red;
}
.red {
  color: green;
}
