.m-timer-playing::before,
.m-timer-paused::before {
  content: '';
  position: absolute;
  border-radius: 100%;

  --size: 2.5rem;
  width: var(--size);
  height: var(--size);

  z-index: -1;
}

.m-timer-playing::before {
  background-color: var(--m-secondary-color);
  animation: m-resize-animation 0.5s linear infinite alternate;
}
@keyframes m-resize-animation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.m-timer-paused::before {
  background-color: lightgrey;
}

.m-timer-playing,
.m-timer-paused {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-play-pause-button {
  /* looks  */
  --size: var(--m-medium-fs);
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
}

.m-play-pause-button > img {
  display: block;
  width: 100%;
  height: 100%;
}

.m-play-pause-button:hover {
  cursor: pointer;
}

.m-timer * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.m-timer button {
  border: none;
  background: none;
}

.m-timer {
  /* size  */
  padding: 0rem 0.5rem;

  /* self alignment */
  position: fixed;
  top: -2px;
  left: 30%;
  z-index: 1000;

  /*content alignment*/
  display: flex;
  gap: 1rem;
  align-items: center;

  /* color */
  background-color: white;
  color: black;
  font-size: var(--m-medium-fs);
  font-family: var(--m-font-family);

  /* border */
  border: var(--m-border);
  border-top: none;
  --br: var(--m-border-radius);
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);

  /* for nice looking button */
  overflow: hidden;
}
