.prompt-setup {
	position: fixed;
	top: 20%;
	right: 5%;

	background-color: white;
	color: black;

	padding: 0.3rem;
	box-shadow: 7px 7px black;
	font-family: monospace, sans-serif;

	border-left: 3px solid rgb(248, 159, 27);
}
.prompt-setup button {
	background-color: rgb(248, 159, 27);
	color: darkgreen;
	padding: 0 5px;
}

.hidden {
	display: none;
}
