.folder {
  color: black;

  margin-top: 2px;

  width: fit-content;
  cursor: pointer;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.folder-btn {
  padding: 1px;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.folder-btn:hover {
  background-color: darkgreen;
}

.folder-btn__selected {
  background-color: darkgreen;
  color: white;
}

.new-folder-btn {
  color: black;
  border: 1px solid grey;

  /* to center the + sign */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
}

.hidden {
  display: none;
}

.hint {
  color: rgb(62, 62, 62) !important;
}

.new-folder-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.new-folder-bar input {
  flex: 1;
}

.new-folder-bar #new-folder-cancel {
  color: white;
  background: brown;
  /* to center the x sign */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
}
