.m-submit-card,
.m-submit-card * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--m-font-family);
  /* color: var(--m-dark-grey-color); */
  color: black;
}
.m-submit-card img {
  width: 100%;
  object-fit: contain;
  opacity: 0.6;
}

.m-submit-card input {
  height: var(--m-large-fs);
  border-radius: var(--m-border-radius);
  border: 1px solid lightgrey;
  width: 100%;
  background: transparent;
}

.m-submit-card input:focus {
  outline: 1px solid grey;
}
.m-submit-card {
  /* size */
  --drawer-button-width: 1.5rem;
  --width: 20rem;
  width: var(--width);
  max-height: 60vh;

  /* position */
  position: fixed;
  right: calc(var(--drawer-button-width) - var(--width));
  bottom: 30%;

  /* shape */
  border: var(--m-border);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: white;

  /* to children  */
  display: flex;
  gap: 1rem;
  padding: 1rem;
  padding-left: 0;

  transition: right 0.5s ease-in;
}

.m-card-exposed {
  right: -2px;
}

.m-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-drawer-button {
  width: var(--drawer-button-width);
  background: none;
  border: none;
  opacity: 0.5;
  padding: 0 4px;
  cursor: pointer;
}

.m-labelled-input-container {
  position: relative;
}
/* for labelled input */
.m-label {
  pointer-events: none;

  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);

  font-size: var(--m-small-fs);
  background-color: white;
}

.m-spaced-flex {
  display: flex;
  gap: 0.5rem;
}

.m-flex-1 {
  flex: 1;
}

.m-flex-2 {
  flex: 2;
}

.m-folder-tree {
  overflow: auto;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.m-folder {
  display: flex;
  gap: 0.25rem;
}

.m-folder-label {
  position: relative;
  padding: 0 0.25rem;

  background: white;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;
  color: var(--m-dark-grey-color);

  overflow: hidden;
  z-index: 3;
  cursor: pointer;
}

.m-selected-folder-label {
  /* border: 1px solid var(--m-primary-color); */
  background-color: var(--m-secondary-color);
  color: black;
}

.m-new-folder-button,
.m-cancel-new-folder {
  border-radius: 33%;
  border: none;
  background: none;
  border: 1px solid lightgrey;
  background: white;
  cursor: pointer;
}



.m-new-folder-button {
  width: var(--m-medium-fs);
  height: var(--m-medium-fs);
}

.m-cancel-new-folder {
  width: var(--m-large-fs);
  height: var(--m-large-fs);
  padding: 0.3em;
}
