
.submit-card img {
  display: inline;
  opacity: 0.6;
}
.card-title {
  font-size: var(--large-fs);
  color: var(--dark-grey-color) !important;
}

.submit-card input {
  height: var(--large-fs);
  border-radius: var(--border-radius);
  border: 1px solid lightgrey;
  padding-left: 0.5rem;

  width: 100%;
  background: transparent;
  color: var(--dark-grey-color);
}

.submit-card input:focus {
  outline: 1px solid grey;
}

.submit-card {
  /* size */
  --drawer-button-width: 1.5rem;
  --width: 30rem;
  width: var(--width);
  max-height: 80vh;

  /* position */
  position: fixed;
  right: calc(var(--drawer-button-width) - var(--width));
  top: 50%;
  transform: translateY(-50%);

  /* shape */
  border: var(--border);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: white;

  /* to children  */
  display: flex;
  gap: 1rem;
  padding: 1rem;
  padding-left: 0;

  transition: right 0.5s ease-in;
}

.card-exposed {
  right: -2px;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drawer-button {
  width: var(--drawer-button-width);
  background: none;
  border: none;
  opacity: 0.5;
  padding: 0 4px;
  cursor: pointer;
}

.labelled-input-container {
  position: relative;
}
/* for labelled input */
.label {
  pointer-events: none;

  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  font-size: var(--very-small-fs);
  background-color: white;
  color: var(--grey-color);
}
.vertical-spaced-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gap-1 {
  gap: 1.5rem;
}
.spaced-flex {
  display: flex;
  gap: 0.5rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.folder-tree {
  overflow: auto;

  width: calc(var(--width) * 0.8);
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.folder {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.folder-label {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;

  color: var(--dark-grey-color);
  border: none;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;

  font-size: var(--medium-fs);
  cursor: pointer;
}
.folder-label img {
  width: var(--medium-fs);
  height: var(--medium-fs);
}

.folder-label:hover {
  border: 1px solid var(--secondary-color);
}

.less-opacity {
  opacity: 0.6;
}

.selected-folder-label {
  /* border: 1px solid var(--primary-color); */
  background-color: var(--secondary-color);
  color: black;
}

.folder-icon-button {
  border-radius: 33%;
  border: none;
  background: none;

  border: 1px solid lightgrey;
  background: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.folder-icon-button img,
#arumba {
  padding: 0.15rem;
  --size: var(--medium-fs);
  width: var(--size) !important;
  height: var(--size) !important;
}

.align-center {
  align-items: center;
}

.appear-animattion {
  animation: appear 0.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* misc  */
.mw-2-inputs {
  max-width: 20rem;
}
.submit-button-width {
  width: 20rem;
}
.pad-right {
  padding-right: 1rem;
}

