.m-folder {
	color: black;
	background-color: rgba(255, 255, 255, 0.7);
	border-left: 3px solid darkgreen;

	padding-left: 3px;
	margin-top: 3px;

	width: fit-content;
	cursor: pointer;
}

.m-folder:hover {
	background-color: darkgreen;
}

.m-folder__selected {
	background-color: darkgreen;
	color: white;
}
